#mapPageContainer {
    display: flex;
    align-items: end;
}

#map {
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

#Qbtn-container {
    z-index: 2;
    position: absolute;
}

#questionProgressContainer {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.modal-question-container {
    display: flex;
    padding: 14px 28px;
    background-color: #8ecae6;
    cursor: pointer;
}

.site-info-container {
    display: flex;
}

.status-icon {
    color: #023047;
}