.narrativePageContainer {
    height: 100%;
    width: 100%;
    background-color: var(--white);
    color: black;
    outline-color: yellow;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: inset 2px 2px 100px 120px #FCF5E5;
    box-shadow: inset 2px 2px 100px 120px #FCF5E5;
}

.narrativePageContainer.active {
    animation: fadeIn2 0.5s;
}

.border-ridge {
    border-style: ridge;
}

.dialogue-container {
    margin-bottom: 20px;
    max-width: 325px;
    width: 90%;
    height: 80%;
    max-height: 630px;
    padding: 0.75rem;
}

.dialogue-container h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-family: IMFellEnglish-Regular;
    text-align: center;
}

.dialogue-container p {
    font-size: 1rem;
    font-family: 'IMFellEnglish-Italic', serif;
    font-style: italic;
}

#tipsrundaQuestion-btn {
    max-width: 325px;
    width: 90%;
}

@keyframes fadeIn2 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}