/* Colors */
:root {
    --blue-light: #8ecae6;
    --blue-dark: #023047;
    --yellow-light: #FFB703;
    --yellow-dark: #FB8500;
    --accent: #219EBC;

    --black: #000000;
    --white: #ffffff;
}

/* Fonts */
@font-face {
    font-family: Orbitron-SemiBold;
    src: url("../fonts/Orbitron/static/Orbitron-SemiBold.ttf");
}

@font-face {
    font-family: Orbitron-Regular;
    src: url("../fonts/Orbitron/static/Orbitron-Regular.ttf");
}

@font-face {
    font-family: IMFellEnglish-Regular;
    src: url("../fonts/IM_Fell_English/IMFellEnglish-Regular.ttf");
}

@font-face {
    font-family: CormorantUpright-Light;
    src: url("../fonts/IM_Fell_English/IMFellEnglish-Italic.ttf");
}