* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

main {
    height: 100%;
    width: 100%;
}

.round {
    border-radius: 50%;
}

.loadingPageContainer,
.StartPageContainer,
.locationPermissionPageContainer,
.introPageContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
}

.loadingPageContainer,
.introPageContainer,
.StartPageContainer {
    background-color: var(--blue-dark);
}

button {
    cursor: pointer;
    border: none;
}

.mainBtn {
    padding: 0.75rem;
    background-color: var(--yellow-light);
    width: 153px;
    height: auto;
    color: var(--blue-dark);
    font-family: Orbitron-SemiBold;
    font-size: 0.99rem;
    transition: background-color 0.3s;
    transition: color 0.3s;
    border-radius: 10px;
}

.mainBtn:hover {
    background-color: var(--yellow-dark);
    color: var(--white);
}

.borders {
    font: bold 15px Arial, Helvetica, sans-serif;
    width: 25em;
    padding: 5px;
    margin: 10px 0;
    border: thick #FFB703;
}

body {
    font-family: Orbitron-Regular;
}

.hidden {
    display: none;
}