.tipsrundaPageContainer {
    width: 95%;
    height: 90%;
    background-color: #023047;
    color: white;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tipsrunda-questions-container {
    height: auto;
}

#tipsrunda-progress-bar-container {
    height: 10px;
    width: 90%;
    border: 1px solid white;
}

#tipsrunda-progress-bar {
    height: 10px;
    background-color: pink;
}

.option-button.selected {
    background-color: #000000;
    border-color: #badbcc;
    color: white;
}